@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --element: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);

  --Input: hsl(0, 0%, 52%);

  --navigation: var(--element);
}

[data-theme="light"] {
  --element: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
}

* {
  @apply transition-colors duration-200;
}

#root {
  @apply bg-background h-[100vh];
}
