@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --element: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);

  --Input: hsl(0, 0%, 52%);

  --navigation: var(--element);

  --textDetails: 16px;
  --textHome: 14px;
}

[data-theme="light"] {
  --element: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
}

* {
  color: var(--text);
  @apply transition-colors duration-200;
}

#root,
html,
body {
  @apply h-[100vh] bg-background;
}
